$primary-ash: #dfdfdf;
$shade-black: #4e4e63;
$shade-grey: #545c67;
$regular-white: #ffffff;

:root {
  --primary-ash: #dfdfdf;
  --shade-grey: #545c67;
  --regular-white: #ffffff;
  --off-white: #e3edf2;
}
